/* RecPage.module.css */

/* 페이지 스타일 */
.pageContainer {
  padding: 15px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
}

/* 뒤로가기 버튼 스타일 */
.backButtonContainer {
  display: flex;
  align-items: center;
}

.backButton {
  background: none;
  border: none;
  font-size: 24px; /* Make the arrow large enough */
  cursor: pointer;
  color: #333; /* Adjust color if needed */
  margin-right: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.subTitle {
  font-size: 14px;
  color: #95a5a6;
  text-align: center;
  margin-bottom: 30px;
}

.card {
  background-color: white;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipeName {
  font-size: 18px;
  color: #2f4c89;
  font-weight: bold;
  margin-right: 20px;
}

.heartIcon {
  width: 24px;
  height: 24px;
}
.ratingContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.starIcon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

/* 평점, 시간, 댓글을 같은 라인에 정렬 */
.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 10px; /* 요소 간 간격 추가 */
}

.timeInfo,
.commentInfo,
.ratingInfo {
  display: flex;
  align-items: center;
}

.icon {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.detailButton {
  width: 100%;
  background-color: #3b5998;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 15px;
  cursor: pointer;
}

.detailButton:hover {
  background-color: #2c3e50;
}

/* rec.module.css에 추가 */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  margin: 50px auto; /* 중앙에 위치 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 태블릿 버전 스타일 (768px ~ 1024px) */
@media (min-width: 768px) {
  .backButton {
    background: none;
    border: none;
    font-size: 48px; /* Make the arrow large enough */
    cursor: pointer;
    color: #333; /* Adjust color if needed */
    margin: 20px;
  }

  .title {
    font-size: 40px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 10px;
  }

  .subTitle {
    font-size: 24px;
    color: #95a5a6;
    text-align: center;
    margin-bottom: 5vh;
  }

  .card {
    margin-left: 15vw;
    width: 60vw;
    padding: 40px; /* 카드 내 패딩 확대 */
    margin-bottom: 4vh; /* 카드 간 간격 확대 */
    border-radius: 20px;
  }

  .recipeName {
    font-size: 32px; /* 카드 제목 크기 확대 */
    width: 45vw;
  }

  .timeInfo span,
  .commentInfo span,
  .ratingInfo span {
    font-size: 24px; /* 텍스트 크기 확대 */
  }

  .heartIcon,
  .starIcon,
  .icon {
    width: 32px; /* 아이콘 크기 확대 */
    height: 32px; /* 아이콘 크기 확대 */
  }

  .detailButton {
    margin-top: 3vh;
    font-size: 20px; /* 버튼 텍스트 크기 확대 */
    padding: 12px; /* 버튼 패딩 확대 */
  }
}
